<main>
    <section>
        <img src="assets/illustrations/User-Profile-Transparent.png" alt={{this.translation.languagePack.homepage.avatar_alt}}>
        <h1>{{this.translation.languagePack.homepage.h1}}</h1>
        <h2>Lucian MOCAN</h2>
        <p>{{this.translation.languagePack.homepage.p}}</p>
    </section>
    <div>
        <section>
            <span><b>{{this.translation.languagePack.homepage.large.curious}}</b> {{this.translation.languagePack.homepage.large.first}}</span>
            <span><i>{{this.translation.languagePack.homepage.large.cs}}</i></span>
            <span>{{this.translation.languagePack.homepage.large.is}} <u>{{this.translation.languagePack.homepage.large.now}}</u> {{this.translation.languagePack.homepage.large.a}} <b>{{this.translation.languagePack.homepage.large.passion}}</b></span>
        </section>
        <nav>
            <section>
                <button>{{this.translation.languagePack.homepage.btn1}}</button>
                <button>{{this.translation.languagePack.homepage.btn2}}</button>
            </section>
            <footer>
                <a href="#">
                    <img src="assets/icons/Facebook_Logo_(2019).png" alt={{this.translation.languagePack.homepage.contact.facebook}} height="35px" width="35px">
                </a>
                <a href="https://www.linkedin.com/in/lucian-mocan-2221b8234">
                    <img src="assets/icons/linkedin-logo.png" alt={{this.translation.languagePack.homepage.contact.linkedin}}  height="35px" width="40px">
                </a>
                <a href="https://git.unistra.fr/lmocan">
                    <img src="assets/icons/gitlab-logo-500.png" alt={{this.translation.languagePack.homepage.contact.gitlab}}  height="35px" width="35px">
                </a>
                <a href="https://github.com/lucianmocan">
                    <img src="assets/icons/github-mark.png" alt={{this.translation.languagePack.homepage.contact.github}} height="35px" width="35px">
                </a>
            </footer>
        </nav>
    </div>

</main>
