@import "../../styles.scss";

main {
    div > section:nth-child(1){
        display: none;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 0;
        gap: 0.3rem;
        img {
            width: 15rem;
            height: 15rem;
        }
        h1 {
            font-size: 2.3rem;
            margin-top: 0.2rem;
            margin-bottom : 0rem;
            color: $primary_text;
        }
        h2 {
            margin-top: 0rem;
            font-size: 1.8rem;
        }
        p {
            margin-top: -1rem;
            text-align: center;
            font-family: 'Avenir Next';
            width: 16rem;
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
        }
    }

    nav {
        section {
            display: flex;
            gap: 1.2rem;
            button {
                cursor: pointer;
                background-color: $primary_background;
                border-radius: 100px;
                padding: 0.2rem 2rem 0.2rem 2rem;
                color: $primary_text;
                font-family: $primary_font_family;
                font-size: 1.8rem;
                border: none;
            }
        }
        footer {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            a {
                cursor: pointer;
            }
            a:nth-child(2){
                margin-left: 0.5rem;
            }
        }
    }
}


@media (min-width: 1030px) {
    main div > section:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-top: 4rem;
        span {
            font-size: 2rem;
            b {
                font-weight: 100;
                padding: 0;
                font-size: 4rem;
                margin: 0;
            }
            i {
                font-family: $primary_font_family;
                font-style: normal;
                color: $primary_text;
                font-size: 5rem;
                margin: 0;

            }
        }
    }
    main {
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin-top: 2rem;
        section {
            margin-top: 4rem;
            align-self: start;
            gap: 2rem;
            p {
                width: 20rem;
            }
        }

        nav {
            margin-top: 5rem;
            section {
                flex-direction: row;
                gap: 5rem;
                justify-content: left;
                button {
                    padding: 0.5rem 2.3rem 0.5rem 2.3rem;
                }
            }
            footer {
                justify-content: left;
                margin-left: 12.25rem;
                margin-top: 3rem;
            }
        }
    }   
}