<main>
    <section>
        <img src="assets/illustrations/User-Profile-Transparent.png" alt="Illustration d'une personne.">
        <h1>Qui suis-je?</h1>
        <h2>Lucian Mocan</h2>
        <p>Je suis étudiant en 2ème année de Licence Informatique à l'Université de Strasbourg.</p>
    </section>
    <nav>
        <section>
            <button>Mes projets</button>
            <button>Mes hobbys</button>
        </section>
        <footer>
            <a>
                <img src="assets/icons/Facebook_Logo_(2019).png" alt="Facebook Logo" height="25px" width="25px">
            </a>
            <a>
                <img src="assets/icons/linkedin-logo.png" alt="Linkedin Logo"  height="25px" width="29px">
            </a>
            <a>
                <img src="assets/icons/gitlab-logo-500.png" alt="Gitlab Logo"  height="23px" width="25px">
            </a>
        </footer>
    </nav>

</main>
