
<main>
    <section>
        <fieldset>
            <div>
                <label for="all">{{this.translation.languagePack.adminview.search.all}}</label>
                <input type="radio" id="all" name="search" value="all" [(ngModel)]="search.choice">
            </div>
            <div>
                <label for="id">{{this.translation.languagePack.adminview.search.id}}</label>
                <input type="radio" id="id" name="search" value="id" [(ngModel)]="search.choice">
                <input type="text" id="sbox" [(ngModel)]="search.value">
            </div>
            <button (click)="searchAction()">{{this.translation.languagePack.adminview.buttons.search}}</button>
        </fieldset>
    </section>
    <p *ngIf="this.updateSuccess">{{this.translation.languagePack.adminview.alert}}</p>
    <div *ngFor="let user of users;">
        <div>
            <p><b>ID</b> {{user.id}}</p> 
            <p><b>{{this.translation.languagePack.contactpage.fname.fname}}</b> {{user.firstName}}</p>
            <p><b>{{this.translation.languagePack.contactpage.lname.lname}}</b> {{user.lastName}}</p>
            <p><b>{{this.translation.languagePack.contactpage.email.email}}</b> {{user.email}}</p>
        </div>
        <div>
            <p><b>{{this.translation.languagePack.contactpage.content.content}}</b><br> {{user.content}}</p>
        </div>
        <div *ngIf="search.choice === 'all'">
            <button value="{{user.id}}" (click)="updateUser($event)">{{this.translation.languagePack.adminview.buttons.update}}</button>
            <button value="{{user.id}}" (click)="deleteUser($event)">{{this.translation.languagePack.adminview.buttons.delete}}</button>
        </div>
        <app-contactpage *ngIf="this.updateContact == user.id" [user]="user" [userUpdate]="true" (updateCompleted)="updateCompleted()"></app-contactpage>
    </div>
</main>
