@import "../../styles.scss";

main {
    table {
        font-family: $secondary_font_family;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        border: 1px solid;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        tr {
            td{
                border: 1px solid;
            }
        }
    }
}