<main>
    <div>
        <h3>Quelle est mon histoire ?</h3>
        <p>Je suis né en Moldavie, à Ungheni, le 1 octobre 2002. 
        J'ai fait mes études depuis la primaire jusqu'au bacalauréat dans le parcours bilingue francophone.
        Cela m'a appris énormement et a cultivé en moi une passion pour la France, mais pas que, car dès très petit j'étais fasciné par l'ordinateur. 
        Tellement de choses qu'on peut faire... Wouah !
        </p>
        <p>Au début, je passais des heures sur Google Earth (années 2009 - 2010, si je ne me trompe pas). Pour faire quoi ?
            Simplement pour regarder des endroits intéressants à mes yeux et noter les coordonnées dans un cahier. J'aimais découvrir le monde.
            Je l'aime toujours, et je désire connaître encore plus. J'ai voulu toujours savoir plus. Il ne me suffisait pas juste d'utiliser l'ordinateur
            il me fallait essayer tout, tout ce qui était accessible... "Que fait ce programme ?", "Que fait ce bouton ?", "Pourquoi ça réagit comme ça quand
            je fais ça ?".
        </p>
        <p>
            J'ai grandi et avant que j'aie mon premier cours d'informatique au collège, j'étais déjà en dernière année d'accordéon à l'école de musique d'Ungheni.
            On nous a appris à utiliser Word, mais moi j'avais déjà fais tout le tour de ce logiciel (j'avais même changé de langue sans me rendre compte et plus personne n'arrivait à 
            utiliser Word sauf moi XD). Et hop là, les codages des entiers, des flottants en binaire, en octal, en hexadecimal... et Turbo Pascal. Oui, mon premier langage de programmation
            est Turbo Pascal.
        </p>
        <p>Même si Turbo Pascal n'est plus utilisé de nos jours, c'est un langage qui ressemble beaucoup à du pseudocode, et qui à mon avis est assez bon pour les débutants. 
            Ce que j'ai pas trop compris au lycée et que j'ai capté à l'université ce sont les variables dynamiques. Je comprenais pas du tout, pourquoi j'aurais besoin
            d'un new et après un destroy. "Mais c'est quoi une variable référence ?"...
        </p>
        <p>
            J'ai oublié... J'ai réussi à faire ce qu'on appele un Hackintosh... à installer macOS sur une machine autre qu'un ordinateur de la famille des produits Apple. J'étais super content.
            Par la suite, j'ai essayé d'installer macOS sur toute machine qui me tomber sous la main XD.
        </p>
        <p>En 2021, j'ai terminé le lycée. J'ai passé le bac. J'ai eu 9,75/10 de moyenne. J'avais la deuxième meilleure note dans la région. J'étais content, mais un peu inquiété par 
            un futur dont je ne connaissais rien. J'ai été accepté en Licence Informatique à l'Université de Strasbourg. Tout va bien. Je me dis "c'est bon, c'est fait". Le RDV pour mon visa 
            super tard. J'arrive à Bucharest au consulat... je leur dit, j'ai besoin du visa dans moins de 2 semaines. "Monsieur, c'est pas possible, 
            main on essayera. 5 jours ouverts après, je reçois un appel. Mon visa est prêt. :0
        </p>
        <p>J'arrive en France pour mon premier semestre de Licence Informatique. Je travaille, je bosse, je suis tout seul... nouvelle expérience. J'ai une bonne moyenne : 16,xx. On me propose de joindre CMI
            (Cursus Master Ingénierie), soit IRVIIJ, soit ISR. Mais ce que vous ne savez pas, c'est que dans ma lettre de motivation pour l'Université de Strasbourg, j'avais écrit que j'envisageait un master en
            Systèmes et Réseaux. Ça fait partie du CMI. Wouah !
        </p>
        <p>Je n'en ai pas parlé pour l'instant, mais les semestres qui suivent je passe des moments un peu difficile, des moments où je me dis que je ne suis pas assez bon pour être là... des moments où je me disqualifie
            moi-même. C'est difficile, et cela a un impact sur mes résultats.
        </p>
        <p>De plus en plus, je reconnais l'importance des parents forts (pas dures, ni sèveres, mais qui guident par leur example) dans la vie des enfants.
            Étonnament, à chaque fois que je parle à mes parents, tout va mieux, il n'y a même pas besoin de parler de mes problèmes... elles s'en vont.
        </p>
    </div>
    <div>
        <div>
            <img id="pres" src="assets/photos/with_the_president.JPG" width="500px" alt="Lucian et la présidente de la Moldavie">
            <p>Moi et la présidente de la Moldavie, Maia Sandu lors d'un événement de félicitation pour la réussite au bacalauréat.</p>
        </div>
        <div id="ici">
            <div>
                <img src="assets/photos/tram_in_stras.JPG" width="200px" alt="un tramway à Strasbourg">
                <p>Une trame de la ligne E, à Strasbourg.</p>
            </div>
            <div>
                <img src="assets/photos/turbo_pascal_program.jpg" width="200px" alt="du code en Turbo Pascal">
                <p>Une photo du code d'un programme Turbo Pascal.</p>
            </div>
        </div>
    </div>
</main>