<main>
    <form (ngSubmit)="submitContact()">
        <div>
            <div>
                <label for="fname">{{this.translation.languagePack.contactpage.fname.fname}}</label>
                <input type="text" [(ngModel)] = "user.firstName" id="fname" name="firstname" placeholder={{this.translation.languagePack.contactpage.fname.placeholder}}>
            </div>
            <div>
                <label for="lname">{{this.translation.languagePack.contactpage.lname.lname}}</label>
                <input type="text" [(ngModel)] = "user.lastName" id="lname" name="lastname" placeholder={{this.translation.languagePack.contactpage.lname.placeholder}}>
            </div>
            <div>
                <label for="email">{{this.translation.languagePack.contactpage.email.email}}</label>
                <input type="email" [(ngModel)] = "user.email" id="email" name="email" placeholder={{this.translation.languagePack.contactpage.email.placeholder}}>
            </div>
        </div>

        
        <label for="subject">{{this.translation.languagePack.contactpage.subject.subject}}</label>
        <textarea id="subject" [(ngModel)] = "user.content" name="subject" placeholder={{this.translation.languagePack.contactpage.subject.placeholder}}></textarea>

        <button type="submit">{{this.translation.languagePack.contactpage.sendbtn}}</button>
    </form>
        <!-- {{this.users | json}} -->
</main>