<main>
    <form (ngSubmit)="submitContact()">
        <div>
            <div>
                <label for="fname">Prénom</label>
                <input type="text" [(ngModel)] = "user.firstName" id="fname" name="firstname" placeholder="Votre prénom ici..">
            </div>
            <div>
                <label for="lname">Nom</label>
                <input type="text" [(ngModel)] = "user.lastName" id="lname" name="lastname" placeholder="Votre nom ici..">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" [(ngModel)] = "user.email" id="email" name="email" placeholder="Votre adresse email ici..">
            </div>
        </div>

        
        <label for="subject">Sujet</label>
        <textarea id="subject" [(ngModel)] = "user.content" name="subject" placeholder="Écrire votre message.."></textarea>

        <button type="submit">Envoyer</button>
    </form>
        {{this.users | json}}
</main>