
@import "../../styles.scss";

main {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: $primary_background;
    height: 3rem;
    img {
        margin-left: -0.5rem;
        width: 9rem;
        height: 3rem;
    }
    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        border: 0;
        margin-top: 0;
        padding: 0;
        gap: 2rem;

        a {
            z-index: 1;
            li {
                padding: 0.9rem 1.4rem 0.7rem 1.55rem;
                img {

                    border: 0;
                    width: 27px;
                    height: 15px;
                }
            }
        }

    }

    
    nav {
        margin-left: -2.5rem;
        display: flex;
        flex-direction: column;
        color: $primary_text;
        gap: 0;
        width: 6.3rem;
        p {
            font-size: 1.2rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 0.6rem;
            padding-bottom: 0.77rem;
            text-align: center;
            margin: 0;
            border: 0;
            cursor: pointer;
        }
        menu {
            padding: 0;
            border: 0;
            margin: 0;
            list-style: none;
            ul {
                display: flex;
                flex-direction: column;
                gap: 0;
                li {
                    cursor: pointer;
                    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
                    text-align: center;
                }
            }
        }
    }
}


li, p{
    background: $primary_background;

    background: linear-gradient(to left, $primary-background 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

li:hover, p:hover {
    background-position: left;
}

img {
    cursor: pointer;
}